{% extends 'shop/basic.html' %}
{% block title %} About


{% endblock %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
{% block body %}



<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <a href="/shop">
        <img src="\media\shop\images\logo\mycartl.jpg" width="200px" height="40px"></a><br>

      <br>

      <p>
        Welcome to MyCart, your number one source for all products like Shirts,T-Shirts,Jeans,Shoes,Phones,Headphone.
        MyCArt Private Limited, MyCart is an Indian e-commerce company based in Chandigarh, India.</br>
        We're dedicated to giving you the very best quality of products, with a focus on dependability, customer service and uniqueness.
        When we first started out, our passion is for helping other parents be more eco-friendly, providing the best equipment and best quality products.
        We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.
        MyCArt Private Limited, MyCart is an Indian e-commerce company based in Chandigarh, India.
        It was founded by (Gurpreet Singh and Nidhi) in 2020.
        The company initially focused on clothes selling, before expanding into other product categories such as consumer electronics, fashion, and lifestyle products.
      <br>
        Founded: May 2020
        </br>
      </p>
      <hr>


<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="\ width="300px" height="350px">
        <div class="carousel-caption d-none d-md-block">
          <h4 style="color:black">Gurpreet Singh</h4>
          <h4 style="color:black">Mob:-8728841784</h4>
          <h5 style="color:black">( CHEIF EXECUTIVE OFFICER )</h5>
        </div>
      </div>

      <div class="carousel-item">
        <img src=           width="'300" height="350">
        <div class="carousel-caption d-none d-md-block">
          <h4 style="color:black">Nidhi Kaur</h4>
          <h4 style="color:black">Mob:-9878756966</h4>
          <h5 style="color:black">( CHIEF FINANCIAL OFFICER )</h5>
        </div>
      </div>



      <div class="carousel-item">
        <img src="\ width="'350" height="350">
        <div class="carousel-caption d-none d-md-block">
          <h4 style="color:black">hariom</h4>
          <h4 style="color:black"></h4>
          <h5 STYLE="COLOR:BLACK">( CHIEF MARKETING OFFICER )</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="\ width="'300" height="350">
        <div class="carousel-caption d-none d-md-block">
          <h4 style="color:black">harry</h4>
          <h4 style="color:black"></h4>
          <h5 style="color:black">( CHIEF OPERATING OFFICER )</h5>
        </div>
      </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
</div><div><hr></hr></div>
<div class="container-fluid">
  <br><br>

  <div class="row">
    <div class="col-sm-4">
        <center>
            <br>
            <br>
            <br>
      <h1><BOLD>OUR<BR>PARTNERS</BOLD></h1>
        </center>



    </div>
    <div class="col-sm-8">
      <img src="\media\shop\images\logo\addidaslogo.jpg" width="150" height="100"hspace="5">
        <img src="\media\shop\images\logo\apple logo.jpg" width="150" height="100" hspace="5">
        <img src="\media\shop\images\logo\armani logo.jpg" width="150" height="100" hspace="5">
         <img src="\media\shop\images\logo\zara logo.jpg" width="150" height="100" hspace="5" > <br>
         <br>
        <img src="\media\shop\images\logo\boad logo.png" width="150" height="100" hspace="5"   >
        <img src="\media\shop\images\logo\gucci logo.jpg" width="150" height="100" hspace="5">
        <img src="\media\shop\images\logo\livis logo.webp" width="150" height="100"hspace="5">
         <img src="\media\shop\images\logo\mi logo.jpg" width="150" height="100"hspace="5"><br> <br>
        <img src="\media\shop\images\logo\nike logo.png" width="150" height="100"hspace="5">
        <img src="\media\shop\images\logo\puma logo.jpg" width="150" height="100"hspace="5">
        <img src="\media\shop\images\logo\samsung logo.jpg" width="150" height="100"hspace="5">
         <img src="\media\shop\images\logo\skullcandy logo.jpg" width="150" height="100"hspace="5"><br>






    </div>
  </div>
</div>
    <div  style="color:#c2d1f0;">
      </div ><div ><hr></hr></div>

    <br><br>
    <div class="container-fluid">
  <br><br>

  <div class="row">
    <div class="col-sm-4">

        <center>
          <h2>FOLLOW </h2><h4> US ON</h4>
        </center>



    </div>
    <div class="col-sm-8">
      <head>
<title>Font Awesome Icons</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <center>
<a href="https://www.facebook.com/">
  <i style="font-size:75px" class="fa">&#xf082;</i>
  </a>

<a href="https://www.instagram.com/accounts/login/">
<i style="font-size:75px" class="fa">&#xf16d;</i>
  </a>
<a href="https://mail.google.com/mail/u/0/#inbox">
<i style="font-size:75px" class="fa">&#xf2b3;</i>
  </a>
<a href="https://twitter.com/login?lang=en">
<i style="font-size:75px" class="fa">&#xf081;</i>
  </a>
</center>

</body>
</div>
</div>
</div>


<br><br>
<div class="container">
<div class="col-xl-12">
  <center>
  <p>@ MyCart-All rights are reserved:</p>
</center>
</div>
</div>
    </div>
      {% endblock%}